<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="wrapper" style="width: 1060px">
      <header>
        <a href="{{ site.github.url }}"> <h1>{{ site.title | default: site.github.repository_name }}</h1> </a>
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
          <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
        {% endif %}

        <div style="display: flex; justify-content: space-evenly;">
          {% if site.github.is_user_page %}
            <a href="{{ site.github.owner_url }}"><img src="/icons/github.svg" alt="GitHub Profile"/></a>
          {% endif %}

          <a href="https://mastodon.gamedev.place/@lessa"><img src="/icons/mastodon.svg" alt="Mastodon"/></a>
          <a href="http://bitcake.studio"><img src="/icons/globe.svg" alt="BitCake Studio Site"/></a>
          <a href="https://soundcloud.com/matheuslessarodrigues"><img src="/icons/soundcloud.svg" alt="SoundCloud"/></a>
        </div>

        <div style="display: grid; padding-top: 3vh; justify-content: center">
          <img src="/images/nft-trevinha.jpg" style="width: 20vh; height: 20vh; border: solid #333 5px; border-radius: 50%;">
        </div>

      </header>
      <section style="width: 700px;">

      {{ content }}

      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

  </body>
</html>
